body{
    margin: 0px;
    font-family: "Titillium Web",sans-serif;
    overflow-x: hidden;
}

#cores_topo{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 7px;
}

