/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/12/2014, 10:22:35
    Author     : MOABBSOM QUALIDADE
*/

.flutuante_menu
{

    position: fixed;
    z-index:100;
    padding: 10px;
    background-color: #0066cc;
    top: 0px;
    bottom: 0px;

}

#item_menu
{

    top: 0px;
    bottom: 0px;
/*    overflow: auto;*/
}

.nome
{

    width: 210px;
    height: 50px;
    text-align: left; 
    margin-top: 5px; 
    margin-bottom: 30px;
    color:  #F7F7F7;
    font-size:20px;
}

.icone_menu_oculto
{
    float: left;
    margin-left: 0px;
    width: 0px;
    height: 0px;
}

.barra_rolar
{
    width: auto;
    height: 450px;
    overflow: auto;
}

.barra_rolar_menu
{
    width: auto;
    height: 250px;
    width:auto;
    overflow: auto;
}

.box_menu
{
    height: 350px;
    bottom: 0px;
}

/*----------------------------------------------------------*/

@media (max-width:990px) {

    .nome
    {

        width: 100%;
        height: 50px;
        text-align: left; 
        margin-top: 10px; 
        margin-bottom: 20px;
        color:  #F7F7F7;
        font-size:20px;
    }

    .icone_menu_mostrar
    {
        float: right;
        width: 60px;
        height: 60px;
        background-color: #dcdcdc;
    }

    .conteiner_smartphone
    {
        width: 100%;
        height: auto;
        margin-top: 100px;
        margin-left: 0px;
        padding: 50px;
        background-color: #F3F3F3;
        -webkit-transition: 0.3s ease-in;
        -moz-transition: 0.3s ease-in;
        -o-transition: 0.3s ease-in;
    }

    .menu_smartphone {
        float: left;
        width: 100%;
        height: 100px;
        -webkit-transition: 0.3s ease-in;
        -moz-transition: 0.3s ease-in;
        -o-transition: 0.3s ease-in;
    }

    .menu_smartphone_abrir
    {
        width:100%;
        height: 100%;
        -webkit-transition: 0.3s ease-in;
        -moz-transition: 0.3s ease-in; 
        -o-transition: 0.3s ease-in;
    }

    .menu_smartphone_esconde
    {
        height: 10px;
        background-color: #000000;
    }

    .menu_smartphone_esconde:hover
    {
        height: auto;;
    }

    .menu_smartphone_esconde_menu_ver{
        visibility: visible;
    }

    .esconder {
        visibility: hidden;
    }

    .menu_smartphone_esconde_menu
    {

        float: left;
        margin-left: 0px;
        width: 0px;
        height: 0px;
    }

    .menu_smartphone_esconde_menu:hover
    {
        width: 100%;
        height: auto;
    }

    .nome
    {
        font-size: 35px;
    }

    #esconder
    {
        display: none;

    }

    .link_smart a
    {
        width: 100%;
        color: #F7F7F7;
        font-size: 35px;
        border: 1px solid #000000;
    }

    .link_smart a:hover
    {
        color: #2B2B2B;
    }
}

.fim_roda_pe_smart
{
    float: left;
    width: 100%;
    height: 67px;
    margin-top: 0px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: #dcdcdc;
    text-align: center;
}


/*---------------------------------------------------*/

@media (min-width:991px) {
    .posicao_conteiner
    {
        width: auto;
        height: auto;
        margin-top: 0px;
        margin-left: 230px;
        padding-top: 50px;
        padding-left: 50px;
        /*        background-image: url("../imagens/fundo.jpg");*/
        background-color: #F3F3F3;
        -webkit-transition: 0.3s ease-in;
        -moz-transition: 0.3s ease-in;
        -o-transition: 0.3s ease-in;
    }

    /*    .link a:enabled
        {
            background-color: #dcdcdc;
            color: #000000;
        }*/

    .link a
    {
        color: #F7F7F7;
        font-size: 18px;

    }

    .link a:hover
    {
        color: #000;
    }
    
    .link a:active
    {
        color: #000;
    }
    

    .fim_roda_pe
    {
        float: left;
        width: 100%;
        height: 67px;
        margin-top: 0px;
        padding-top: 20px;
        padding-left: 220px;
        background-color: #dcdcdc;
        text-align: center;
    }

}

/*-----------------------------------------------------*/

.titulos
{
    font-family: Segoe UI,Lucida Grande,Verdana,Arial,Helvetica,sans-serif;
    font-size: 28px;
    line-height: 1;
    color: #2B2B2B;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 20px;

}

.conteudo
{

}

.linha
{
    float: left;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dcdcdc;
}

.img_conteudo img
{
    width: 200px;
    height: 150px;
}

.img_conteudo
{
    float: left;
    width: 210px;
    height: 170px;
}

.sem_margen_pading
{
    padding: 0px;
    margin: 5px;
}


/*-------------------------------------------------------*/
.arquivado
{
    float: right;
    width: auto;
    height: 35px;
    padding: 5px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    color: #000000;
    background-color: #FFFFFF;
    text-align: center;
    font-family: Segoe UI,Lucida Grande,Verdana,Arial,Helvetica,sans-serif;
    font-size: 18px;
}


.botao_turmas
{
    float: left;
    width: 100%;
    height: 45px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #666;
    border-radius: 5px;
    color: #F7F7F7;
    background-color: #428BCA;
    text-align: center;
    font-family: Segoe UI,Lucida Grande,Verdana,Arial,Helvetica,sans-serif;
    font-size: 28px;
    line-height: 1;
}


.arquivado:hover
{
    color: #000;
    background-color: #EBEBEB;
    border:  1px solid #ADADAD;
    text-decoration: none;
}

.botao_turmas:hover
{
    color: #000000;
    background-color: #A2C3DF;
    text-decoration: none;
}


.link_diversos
{
    width: 100%;
    color: #0066cc;
/*    background-color: #0066cc;*/
    text-align: center;
    font-family: Segoe UI,Lucida Grande,Verdana,Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}


.invisivel
{
    background-color: #F3F3F3;
    color: #F3F3F3;
}


.col-md-4
{
    word-wrap: break-word;
}