
body {
    background-color: white;
    color: #515151;
}

.semMargem {
    padding: 0px;
    margin: 0px;
}


.area_menu{

    background-color: white;
    border-top: 5px solid #0066cc;
    margin-bottom: 25px;
}



.container {
    width: 1100px;
}



.area_informativa {
    margin-top: 0px;



}

.logotipo_menu {
    margin-top: 50px;
    font-size: 32px;
    font-weight: bold;
    color: #0066cc;
    padding-bottom: 0px;

}


.busca_menu{
    
  
}

.area_aluno_menu {
    text-align: right;
    margin: 0px;
    padding: 10px 0px 25px 0px;
    /*padding-bottom: 30px;*/

}


.area_aluno_menu span a {
    border-bottom: 2px solid #0066cc;
    /*background-color: ;*/
    color: #0066cc;

    padding: 10px 15px 3px 15px;
}

.area_aluno_menu span a:hover{
    background-color: #f1f1e3;
}

.barra_menu {
    background-color: #0066cc;
    border-bottom: 1px solid #ccc;

}

.barra_menu ul li a {
    color: white;
    font-weight: bold;
}

.barra_menu ul li a:hover {
    background-color: #0066cc;
}

.barra_menu ul li a:active {
    background-color: #0066cc;
    color: white;
}

.barra_menu ul li a:focus {
    background-color: #0066cc;
    color: #0066cc;
}










/*Trabalhando com um link disciplina na pagina inicial*/
.diciplinas_pagina_inicial {
    width: 100%;
    height: auto;
}

.diciplinas_pagina_inicial a {
    text-decoration: none;
    color: #2b2b2b;
    text-transform: none;
    display: block;
    font-size: 24px;
    padding: 5px 10px 5px 10px;

    border-bottom: 2px solid #efefef;
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
    border-bottom: 2px solid #efefef;
}

.diciplinas_pagina_inicial a:hover {

    text-decoration: none;
    text-transform: none;
    //   color: #2b2b2b;
    background-color: #CEDBFA;
    background-color: white;
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
    border-bottom: 2px solid #efefef;
}


/*--------------Pagina ifnmg----------------------------*/

.img_instrutiva_pagina_ifnmg 
{
    background: #ccc;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    width: 100%;
    height: 300px;
}

.img_professor_baner {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0px; 

}

.texto_baner {
    /*border: 1px solid black;*/
    height: 100%;
    color: #F3F3F3;

    padding-top: 30px;
    /*font-weight: bold;*/

}

.titulo_baner {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.titulos_diciplinas {
    margin-top: 50px;
    font-size: 26px;
    color: #0066cc;
    font-weight: bold;

}


.link_disciplinas {
    width: 100%;
    height: auto;
}

.link_disciplinas a {
    color: #515151;
    text-decoration: none;
    /*color: #2b2b2b;*/

    /*background-color: #F0F0Fc;*/
    text-transform: none;
    display: block;
    font-size: 18px;
    padding: 5px 10px 5px 10px;

    border-bottom: 2px solid #efefef;
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;

    border-top: 1px solid #F0F0Fc;
    border-left: 2px solid #F0F0Fc;
    border-bottom: 1px solid #F0F0Fc;
    border-right: 2px solid #F0F0Fc;
    /*border-bottom: 2px solid #FFFFFF;*/
}

.link_disciplinas a:hover {

    text-decoration: none;
    text-transform: none;
    color: #515151;
    //   color: #2b2b2b;
    background-color: #F0F0FC;
    /*background-color: white;*/
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
    /*border-bottom: 2px solid #efefef;*/
}





.link_opcao_turmas {
    width: 100%;
    height: auto;
}


.link_opcao_turmas a {
    color: #515151;
    text-decoration: none;
    /*color: #2b2b2b;*/

    /*background-color: #F0F0Fc;*/
    text-transform: none;
    display: block;
    font-size: 18px;
    padding: 5px 10px 5px 10px;

    border-bottom: 2px solid #efefef;
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;

    border-top: 1px solid #F0F0Fc;
    border-left: 2px solid #F0F0Fc;
    border-bottom: 1px solid #F0F0Fc;
    border-right: 2px solid #F0F0Fc;
    /*border-bottom: 2px solid #FFFFFF;*/
}

.link_opcao_turmas a:hover {

    text-decoration: none;
    text-transform: none;
    color: #515151;
    //   color: #2b2b2b;
    background-color: #F0F0Fc;
    /*background-color: white;*/
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
    /*border-bottom: 2px solid #efefef;*/
}



.box_label_turma {

    margin-top: 30px;

    display: block;
    /*background-color: green;*/
    height: 35px;
    /*padding: 5px;*/
    /*border-bottom: 1px solid #0066cc;*/
    /*line-height: 35px;*/
}

.titulo_turma_label {
    height: 35px;
    font-size: 24px;
    padding: 5px 10px 0px 0px;
}

.arquivado
{

    width: auto;

    height: 0px;

    margin: 10px 10px 0px 10px;

    color: #000000;
    background-color: #FFFFFF;
    text-align: center;
    font-family: Segoe UI,Lucida Grande,Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;

    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}


.arquivado:hover
{
    /*color: #000;*/
    background-color: #FAFAFF;
    /*border:  1px solid #ADADAD;*/
    /*text-decoration: none;*/

    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;

}



.titulo_subitem_turma {
    font-size: 36px;
    font-family: 'Roboto Condensed';
    color: #0066cc;
}







.botao
{

    /*width: 100%;*/
    height: 38px;
    color: #333333;
    /*background-color: #FFFFFF;*/


    font-size: 16px;

    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;

}


.botao:hover {
    background-color: #FFFFFF;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;

}

.botao a
{
    display: block;
    height: 38px;

    line-height: 38px;              

    /*padding: 5px 2px 5px 5px;*/
}



.botao_turmas:visited
{
    background-color: #428BCA;
}


.margem_detalhes_trabalhos {
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    padding: 0px 0px 0px 10px;
}









a:hover
{
    color: #2a6496;
    text-decoration: none;
}


.link_diversos
{
    width: 100%;
    color: #2b2b2b;
    /*    background-color: #0066cc;*/
    /*text-align: ;*/
    font-family: Segoe UI,Lucida Grande,Verdana,Arial,Helvetica,sans-serif;
    font-size: 15px;
    /*    font-weight: bold;*/
    text-decoration: none;
}














/*--------------- Tela grande ------------------------------------*/

@media (min-width:991px) {

    semMargem{
        margin: 0px;
        padding: 0px;
    }


    .posicao_conteiner
    {

        /*        width: auto;
                height: auto;*/
        margin-top: 0px;
        margin-left: 250px;
        padding-top: 50px;
        padding-left: 10px;
        /*        background-image: url("../imagens/fundo.jpg");*/
        background-color: #F3F3F3;
        -webkit-transition: 0.3s ease-in;
        -moz-transition: 0.3s ease-in;
        -o-transition: 0.3s ease-in;
    }








    /*// Trabalhando com o link do menu  */

    .link_menu 
    {
        /*color: #ff0000;*/
        color: #F7F7F7;
        font-size: 18px;

    }

    .link_menu:hover
    {
        color: #000;
    }

    .link_menu:active
    {
        color: #000;
    }

    .link_menu:focus
    {
        color: #000;
    }

    /* Estilizanda a parte inicial das notícias na descktop */

    .link_lista_noticia{
        text-decoration: none;
        color: #333;
    }



    .titulo_link_lista_noticia{
        font-size: 18px;
        font-family: lato;
        /*font-family: arial,helvetica,freesans,sans-serif;*/
        font-weight: bold;
        color: #0066cc;
        text-align: left;
        margin-bottom: 0px;
    }

    .texto_link_lista_noticia {
        font-size: 14px;
    }


    .box_noticia_conteudo {
        padding-left: 0px;
    }

    .link_caixa_noticia {
        
        
        
        background-color: white;
        
        display: block;
        margin: 0px;
        padding: 10px 10px 10px 10px;
        -webkit-transition: 0.5s ease-out;
        -moz-transition: 0.5s ease-out;
        -o-transition: 0.5s ease-out;
        transition: 0.5s ease-out;

        /*border-bottom: 2px solid #F3F3F3;*/
    }

    .link_caixa_noticia:hover {
        background-color: #F0F0Fc;
        color: #333;
        -webkit-transition: 0.5s ease-out;
        -moz-transition: 0.5s ease-out;
        -o-transition: 0.5s ease-out;
        transition: 0.5s ease-out;
        /*border-bottom: 2px solid #dcdcdc;*/
    }

    .continue_lendo{
        color: #0066cc;
    }

    .img_lista_conteudo
    {
        width: 150px;
        height: 120px;
        margin-right: 10px;
        /*padding: 5px;*/
        /*border: 2px solid #B2B2B2 ;*/
    }

    /* Fim da estilização */


    .table
    {
        font-size: 16px;
    }

    h3
    {
        font-size: 25px;
    }

    p
    {
        font-size: 14px;
        text-align: justify;
    }


    .fim_roda_pe
    {


    }

}

/*---Trabalhando com a coluna de outros----*/

.box_coluna_outros {
    /*background-color:  #e5e5ea;*/
    margin-top: 0px;
    
}

.box_coluna_outros p{
    font-size: 12px;
}

/*Titulo dos módulos*/ 
.titulo_outros{
    font-family: Segoe UI,Lucida Grande,Verdana,Arial,Helvetica,sans-serif;
    font-size: 18px;
    line-height: 1;
    /*color: #2B2B2B;*/
    margin-top: 10px;
}

.complemento_titulo_outros{
    margin-top: 30px;
}

/*Lembretes*/

.box_lembrete {
    background-color: #F0F0Fc;
    margin-bottom: 20px;
    padding-bottom: 1px;
}

.box_lembrete .titulo_lembrete {
    background-color: #0066cc;
    /*background-color: #febc05;*/
    
    padding: 5px 10px 5px 10px;
    
    font-weight: bold;
    font-size: 16px;
    color: white;
    
}

.box_lembrete .texto_lembrete{
    padding: 5px 7px 5px 7px;
    margin: 5px 5px 5px 5px;
    background-color: white;
    border-radius: 10px;
}

.box_lembrete p {
    padding: 5px;
}







.titulos
{
    font-family: 'Roboto Condensed';
    /*font-family: Segoe UI,Lucida Grande,Verdana,Arial,Helvetica,sans-serif;*/
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    color: #515151;
    border-bottom: 1px solid #408AD4;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-left: 10px;

}

/*    Criando animação de girar nos icones das redes sociais  */  
.icone_rede_sociais {
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 1000ms ease;
}

.icone_rede_sociais:hover {
    /*rotação*/
    -moz-transform: scale(1.1) rotate(360deg) translateX(1px) translateY(1px) skewX(1deg) skewY(1deg);
    -webkit-transform: scale(1.1) rotate(360deg) translateX(1px) translateY(1px) skewX(1deg) skewY(1deg);
    -o-transform: scale(1.1) rotate(360deg) translateX(1px) translateY(1px) skewX(1deg) skewY(1deg);
    -ms-transform: scale(1.1) rotate(360deg) translateX(1px) translateY(1px) skewX(1deg) skewY(1deg);
    transform: scale(1.1) rotate(360deg) translateX(1px) translateY(1px) skewX(1deg) skewY(1deg);
}


/*// noticias do RSS formatando os textos*/ 
.titulo_rss {
    font-size: 38px;
    font-stretch: condensed;
    color: #2B2B2B;

}


.linha
{
    float: left;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;

}



/*.img_conteudo
{
   
    width: 210px;
    height: 170px;
}*/

.sem_margen_pading
{
    padding: 0px;
    margin: 5px;
}


/*-------------------------------------------------------*/




.botao_turmas:hover
{
    color: #000000;
    background-color: #A2C3DF;
    text-decoration: none;
}




.link_diversos:hover{
    text-decoration: none;
}

.invisivel
{
    background-color: #F3F3F3;
    color: #F3F3F3;
}

.col-md-4
{
    word-wrap: break-word;
}

.img_noticia img {
    width: 100%;
    height: auto;
}